.toggle {
  margin: 3em 0.5em;
  border-radius: 0.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  padding: 1em;
  font-weight: bold;
}

.toggle input {
  margin-left: 1em;
}
